@page "/mypage"

<div style="width:100%;display:flex">
    <NavMenu></NavMenu>
    <h1></h1>
    <table class="table align-items-center">
        <thead>
            <tr>
                <th class="align-items-center">Name</th>
                <th class="align-items-center">Email</th>
                <th class="align-items-center">Number Phone</th>
                <th class="align-items-center">Role</th>
                <th class="align-items-center" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in List_User)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.NumberPhone</td>
                    <td>@user.Role</td>
                    <td>Update</td>
                    <td>Xóa</td>
                </tr>
            }
        </tbody>
    </table>

</div>








